.toolbar-title {
    flex: 1;
    text-align: center;
}

.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.mat-column-descricao {
    width: 100%;
}

.mat-column-data {
    min-width: 7em;
    width: 7em;
}

.mat-column-categoria {
    min-width: 10em;
    width: 10em;
}

.mat-column-tipo,
.mat-column-escopo {
    min-width: 7em;
    width: 7em;
}

.mat-column-valor {
    text-align: right;
    min-width: 8em;
    width: 8em;
}

.mat-column-acao {
    text-align: center;
    min-width: 6em;
}

.despesa {
    color: #b91c1c;
}

.receita {
    color: #15803d;
}
